@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  background-color: transparent;
}

#chat {
  padding: 10px 0;
}

.chat-line {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 6px 12px;
  background-color: #26262c;
  color: #efeff1;
  display: inline-block;
  vertical-align: top;
  font-size: 1.05rem;
  border-left: solid 4px #9147ff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  flex-shrink: 0;
  animation: chat-entry 0.4s ease-out forwards;
}

.chat-badges,
.chat-channel,
.chat-name {
  display: inline-block;
  vertical-align: middle;
}

.chat-name {
  font-weight: 700;
}

.chat-colon {
  display: none;
}

.chat-message {
  display: block;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 2px;
}

.chat-channel {
  background: #9147ff;
  color: #fff;
  padding: 1px 4px;
  border-radius: 2px;
  margin-right: 8px;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: lowercase;
}

.emoticon {
  height: 1.45em;
  vertical-align: middle;
}