@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
}

.emoticon {
    vertical-align: top;
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 1.5em;
    min-width: 1.5em;
    padding: 0 .1em 0 .1em;
}


.chat-line.fade-out {
    opacity: 0;
    transition: opacity 1s ease;
}

.chat-message {
    white-space: normal;
    text-align: left;
    vertical-align: text-top;
}

.chat-name {
    font-weight: bold;
    color: #6441A4;
    display: inline-block;
    text-align: left;
    padding-left: 0;
    overflow-wrap: anywhere;
    vertical-align: text-top;
    margin-left: 2px;
}

.chat-colon {
    display: inline !important;
    margin-right: 2px;
}

.chat-badges {
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

.chat-badges > img.chat-badge {
    height: .9em;
    min-width: .9em;
    display: inline-block;
    margin: 0 1px 0 1px;
}

.chat-name,
.chat-channel,
.chat-colon {
    display: inline;
}